body {
  margin: 40px auto;
  text-align: center;
  font-family: "Public Sans", sans-serif;
}
.container {
  max-width: 450px;
  min-width: 450px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(248, 219, 219) 0%,
    rgb(229, 248, 250) 90%
  );
  padding: 20px 35px 10px;
  border-radius: 8px;
  box-shadow: rgba(221, 221, 221, 0.397) 3px 3px 10px;
}
.searchBar {
  margin: 0 0 0 -10px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.685);
  border: none;
  border-radius: 5px;
}
.magnifier {
  border: none;
  background: transparent;
}
.locationButton {
  border: none;
  background: transparent;
  font-size: 18px;
  color: rgb(66, 56, 66);
}
.locationButton:hover {
  color: #b69cd6;
  transition: all 200ms ease-in-out;
}
.date {
  font-size: 22px;
  margin: 10px 0 -8px;
  font-family: "Manrope", sans-serif;
}
.time {
  font-size: 15px;
}
h1 {
  font-size: 80px;
  display: inline;
}
.celsius {
  font-size: 25px;
  color: rgb(68, 75, 95);
  font-weight: bold;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.celsius:hover {
  color: #b69cd6;
}
h2 {
  font-size: 35px;
  margin: -12px 0 10px;
  color: rgb(56, 67, 71);
  letter-spacing: 3px;
  text-transform: uppercase;
}
.weatherDescription {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  text-transform: lowercase;
  letter-spacing: 2px;
  color: #8e4db99d;
  margin-top: 5px;
}
.windSpeed {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  color: #755b949c;
}
.row {
  padding: 30px 0;
  font-family: "Manrope", sans-serif;
}
.col {
  background: rgba(217, 205, 236, 0.274);
  border-radius: 5px;
  margin: 0 5px;
  padding: 7px 0;
  box-shadow: rgba(187, 187, 187, 0.26) 3px 3px 10px;
  transition: all 200ms ease-in-out;
}
.col:hover {
  background: #e5d4ec98;
}
.temp {
  font-weight: bolder;
  font-size: 20px;
  font-family: "Public Sans", sans-serif;
}
.spotifyPlayer {
  background: linear-gradient(109.6deg, rgba(177, 173, 219, 0.329) 11.2%, rgb(245, 226, 226) 91.1%);
  border-radius: 7px;
  box-shadow: rgba(221, 221, 221, 0.466) 3px 3px 10px;
  margin: 20px auto 0;
  padding: 5px 20px 10px;
  max-width: 350px;
  min-width: 350px;
}
.musicText {
  font-family: "Manrope", sans-serif;
  color: rgba(68, 75, 95, 0.719);
  letter-spacing: 1px;
  margin: 5px 0 5px;
}
.footer {
  font-size: 12px;
  color: #acacac;
}
.footerLinks {
  color: #acacac;
  transition: all 200ms ease-in-out;
}
.footerLinks:hover {
  color: #b69cd6;
}